﻿@using xpos314.viewmodels;
@model VMTblCustomer
@{
    Layout = null;
    ViewData["Title"] = "Create Customer";
}

<div class="card">
    <div class="card-body">

        <div class="h4 mb-4">@ViewData["Title"]</div>
        <form asp-action="Create" method="post" id="form_input">
            @*<div class="mb-4 row">
            <label for="Id" class="col-sm-2 col-form-label">Id</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="Id" name="Id">
            </div>
            </div>*@
            <div class="mb-4 row">
                <label for="NameVariant" class="col-sm-4 col-form-label">Name Customer</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameCustomer" name="NameCustomer" value="@Model.NameCustomer">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="IdRole" class="col-sm-4 col-form-label">Id Role</label>
                <div class="col-sm-8">
                    @Html.DropDownList("IdRole",
                    new SelectList(ViewBag.ListRole, "Id", "RoleName"), //collection, id(value), name(text) (yang ditampilkan)
                    "--Pilih Role--",
                    new {@class = "form-control"}
                    )
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Description" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Description" class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Password" name="Password" value="@Model.Password">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Description" class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Description" class="col-sm-4 col-form-label">Phone</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Phone" name="Phone" value="@Model.Phone">
                </div>
            </div>


            <div class="mb-4 row">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-light" asp-controller="Customer" asp-action="Index">Back to List</a>
            </div>

        </form>
    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            NameCustomer: {
                required: true,
                minlength: 5,
            },
            IdRole: "required",       
            Email: {
                required: true,
                minlength: 5,
            },
            Password: {
                required: true,
                minlength: 5,
            },
            Address: {
                required: true,
                minlength: 5,
            },
            Phone: {
                required: true,
                minlength: 5,
            },
        },
        messages: {
            NameCustomer: {
                required: "Please fill Name Customer",
                minlength: "The name must consist of at least 5 character",
            },
            IdRole: "Please select Role",
            Email: {
                required: "Please fill Email",
                minlength: "The name must consist of at least 5 character",
            },
            Password: {
                required: "Please fill password",
                minlength: "The name must consist of at least 5 character",
            },
            Address: {
                required: "Please fill password",
                minlength: "The name must consist of at least 5 character",
            },
            Phone: {
                required: "Please fill password",
                minlength: "The name must consist of at least 5 character",
            },
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()

            //ajax
            $.ajax({
                url: "/Customer/Create", //dalam jquery boleh pakai petik satu atau dua
                data: dataForm,
                type: "post",
                dataType: "json",
                success: function (respon) { //input >> request, hasil >> respon
                    var data = respon.dataRespon
                    if (data.success) {
                        $("#exampleModal").modal("hide")
                        //toastr.success(data.message)
                        //window.location.reload()
                        toastr.success(
                            data.message,
                            '',
                            {
                                timeOut: 500,
                                fadeOut: 500,
                                onHidden: function () {
                                    window.location.reload()
                                }
                            }
                        )
                    }
                    else {
                        toastr.error(data.message)
                    }
                }
            })

        }
    })
</script>

