﻿@using xpos314.viewmodels;
@model VMTblVariant
@{
    Layout = null;
    ViewData["Title"] = "Detail Variant Try";
}

<div class="card">
    <div class="card-body">


        <div class="h4 mb-4">@ViewData["Title"]</div>

        @*<form asp-action="Detail" method="post">*@

        <input type="hidden" id="Id" name="Id" value="@Model.Id" readonly/>

        <div class="mb-4 row">
            <label for="NameVariant" class="col-sm-4 col-form-label">Name Variant</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="NameVariant" name="NameVariant" value="@Model.NameVariant" readonly>
                @*<span asp-validation-for="NameVariant" class="text-danger"></span>*@
            </div>
        </div>

        <div class="mb-4 row">
            <label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory" readonly>
                @*<span asp-validation-for="NameVariant" class="text-danger"></span>*@
            </div>
        </div>
            
            @*<div class="mb-4 row">
            <label for="IdCategory" class="col-sm-4 col-form-label">Name Category</label>
            <div class="col-sm-8">
                @Html.DropDownList("IdCategory",
                new SelectList(ViewBag.DropdownCategory, "Id", "NameCategory"), //collection, id(value), name(text) (yang ditampilkan)
                "--Pilih Category--",
                new {@class = "form-control"}
                )
            </div>
        </div>*@

        <div class="mb-4 row">
            <label for="Description" class="col-sm-4 col-form-label">Description</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description" readonly>
            </div>
        </div>

        @*<div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>*@
            <a class="btn btn-light" asp-controller="VariantTry" asp-action="Index">Back to List</a>
        @*</div>*@
        @*</form>*@
    </div>
</div>

