﻿@using xpos314.viewmodels;
@{
    ViewData["Title"] = "Category Try";
}

<div class="card">
    <div class="card-body">
        <h2 class="card-title">@ViewData["Title"]</h2>

        @*<div class="row">
            <form asp-action="Index" method="get" id="form_search">
                <div class="col-12">
                    <div class="customize-input float-right">
                        <div class="input-group">
                            <input type="text" class="form-control" name="searchString" value="@ViewBag.currentFilter" placeholder="Search.."/>
                            <div class="input-group-prepend">
                                @*<div class="input-group-text" id="tbn_search">*@
                                    @*<i class="bi search"></i>*@
                                    @*<button type="button" class="btn btn-secondary"  id="btn_search">Search</button>*@                       
                                @*</div>*@
                            @*</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>*@

        <button type="button" class="btn btn-primary" id="btn_create">Create</button>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (VMTblCategory item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.NameCategory</td>
                        <td>@item.Description</td>
                        <td>
                            <a class="btn btn-primary btn_edit" data-id="@item.Id">Edit</a>
                            <a class="btn btn-success btn_detail" data-id="@item.Id">Detail</a>
                            <a class="btn btn-danger btn_delete" data-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    //$(document).ready(function(){
    //    $("#btn_create").click(function(){
    //        $("#body_modal").empty()
    //        $("#body_modal").load("/CategoryTry/Create")
    //        $("#myModal").modal("show")
    //    })
    //})
    $(document).ready(function () {
        $("#btn_create").click(function () {
            $(".modal-body").empty()
            $(".modal-body").load("/CategoryTry/Create")
            $(".modal").modal("show")
        })

        $(".btn_edit").click(function(){
            var id = $(this).data("id")
            $(".modal-body").empty()
            $(".modal-body").load("/CategoryTry/Edit?id=" + id)
            $(".modal").modal("show")
        })

        $(".btn_detail").click(function(){
            var id = $(this).data("id")
            $(".modal-body").empty()
            $(".modal-body").load("/CategoryTry/Detail?id=" + id)
            $(".modal").modal("show")
        })

        $(".btn_delete").click(function(){
            var id = $(this).data("id")
            $(".modal-body").empty()
            $(".modal-body").load("/CategoryTry/Delete?id=" + id)
            $(".modal").modal("show")
        })

        $("#btn_search").click(function(){
            //alert("oke")
            $("#form_search").submit()
        })
    })
</script>
