﻿@using xpos314.datamodels;
@model TblCategory
@{
    Layout = null;
    ViewData["Title"] = "Create Category";
}

<div class="card">
    <div class="card-body">

        <div class="h4 mb-4">@ViewData["Title"]</div>
        <form asp-action="Create" method="post" id="form_input">
            @*<div class="mb-4 row">
            <label for="Id" class="col-sm-2 col-form-label">Id</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="Id" name="Id">
            </div>
            </div>*@
            <div class="mb-4 row">
                <label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory">
                    <span id="validate_NameCategory" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="Description" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
                </div>
            </div>

            <div class="mb-4 row">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-light" asp-controller="Category" asp-action="Index">Back to List</a>
            </div>

        </form>
    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass:"text-danger",
        rules:{
            NameCategory:{
                required: true,
                minlength: 5,
            }           
        },
        messages:{
            NameCategory:{
                required: "Please fill Name Category",
                minlength: "The name must consist of at least 10 character",
            }
        },
        submitHandler: function(form){
            var dataForm = $(form).serialize()

            var nameCategory = $("#NameCategory").val()

            //ajax

            $.ajax({
                url : "/Category/CheckNameIsExist",
                type: "get",
                //method : "get" >>> sama dengan type
                data: { nameCategory: nameCategory },
                dataType: "json",
                success: function(respon){
                    if(respon){
                        $("#validate_NameCategory").text("Name Category is already exsist")
                        return true;
                    }
                    else{
                        fungsiSubmit(dataForm) //nama dataForm harus dari atas
                    }
                }
            })

        }
    })

    function fungsiSubmit(dataParam){ //nama dataParam bebas
        $.ajax({
            url: "/Category/Create", //dalam jquery boleh pakai petik satu atau dua
            data:dataParam,
            type:"post",
            dataType:"json",
            success: function(respon){ //input >> request, hasil >> respon
                var data = respon.dataRespon
                if(data.success){
                    $(".modal").modal("hide")
                    //toastr.success(data.message)
                    //window.location.reload()
                    toastr.success(
                        data.message,
                        '',
                        {
                            timeOut: 500,
                            fadeOut: 500,
                            onHidden: function (){
                                window.location.reload()
                            }
                        }
                    )
                }
                else{
                    //Toast.fire({
                    //    icon:"Failed",
                    //    title:data.message
                    //})
                    toastr.error(data.message)
                }
            }
        })
    }
</script>

