﻿@using xpos314.viewmodels;
@model VMTblProduct
@{
    //Layout = null;
    ViewData["Title"] = "Create Product";
}

<div class="card">
    <div class="card-body">

        <div class="h4 mb-4">@ViewData["Title"]</div>
        <form asp-action="Create" method="post" enctype="multipart/form-data" id="form_input">
            <div class="mb-4 row">
                <label for="NameProduct" class="col-sm-4 col-form-label">Name Product</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameProduct" name="NameProduct" value="@Model.NameProduct">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="IdCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-8">
                    @Html.DropDownList("IdCategory",
                    new SelectList(ViewBag.ListCategory, "Id", "NameCategory"), //collection, id(value), name(text) (yang ditampilkan)
                    "--Pilih Category--",
                    new {@class = "form-control"}
                    )
                </div>
            </div>

            <div class="mb-4 row">
                <label for="IdVariant" class="col-sm-4 col-form-label">Name Variant</label>
                <div class="col-sm-8">
                    @Html.DropDownList("IdVariant",
                    new SelectList(ViewBag.ListVariant, "Id", "NameVariant"), //collection, id(value), name(text) (yang ditampilkan)
                    "--Pilih Variant--",
                    new {@class = "form-control"}
                    )
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Price" class="col-sm-4 col-form-label">Price</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Price" name="Price" value="@Model.Price">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Stock" class="col-sm-4 col-form-label">Stock</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Stock" name="Stock" value="@Model.Stock">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="ImageFile" class="col-sm-4 col-form-label">Upload</label>
                <div class="col-sm-8">
                    <input type="file" class="form-control" id="ImageFile" name="ImageFile" value="@Model.Image">
                </div>
            </div>

            <div class="mb-4 row">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-light" asp-controller="Product" asp-action="Index">Back to List</a>
            </div>

        </form>
    </div>
</div>

<script>
	$("#form_input").validate({
		errorClass: "text-danger",
		rules: {
			NameProduct: {
				required: true,
				minlength: 5,
			},
			Price: {
				required: true,
				number: true,
			},
			Stock: {
				required: true,
				number: true,
			},
			IdCategory: "required",
			IdVariant: "required",
			ImageFile: {
				required: true,
				typeFile: "jpg|jpeg|png",
				uploadFile: true,
			}
		},
		messages: {
			NameProduct: {
				required: "Please fill name Product!",
				minlength: "The Name must consist of at least 5 character!",
			},
			Price: {
				required: "Please fill Price!",
				number: "Please fill number only!",
			},
			Stock: {
				required: "Please fill Stock!",
				number: "Please fill number only!",
			},
			IdCategory: "Choose Your Category",
			IdVariant: "Choose Your Variant",
			ImageFile: {
				required: "Please fill Image",
				typeFile: "Please upload jpg|jpeg|png",
				uploadFile: "Please upload file max sixe 1MB",
			}
		},
		submitHandler: function (form) {
			var formData = new FormData()
			var dataForm = $(form).serializeArray()

			$.each(dataForm, function (key, input) {
				formData.append(input.name, input.value)
			})

			var file = $("#ImageFile").prop("files")
			if (file.length > 0) {
				formData.append("ImageFile", file[0])
			}

			$.ajax({
				url: "/Product/Create",
				type: "POST",
				dataType: "json",
				data: formData,
				contentType: false,
				processData: false,
				success: function (respon) {
					var data = respon.dataRespon
					if (data.success) {
						$(".modal").modal("hide")
						toastr.success(
							data.message,
							'',
							{
								timeOut: 500,
								fadeOut: 500,
								onHidden: function () {
									window.location.reload()
								}
							}
						)
					}
					else
						toastr.error(data.message)
				}
			})
		}
	})

	jQuery.validator.addMethod("typeFile", function (value, element, param) {
		return value.match(new RegExp("." + param + "$"));
	});

	jQuery.validator.addMethod("uploadFile", function (val, element) {
		var size = element.files[0].size;

		if (size > 1048576)
			return false;
		else
			return true;
	});


	$("#IdCategory").change(function () {
		var IdCategory = $(this).val()
		$.ajax({
			url: "/Product/GetDataByIdCategory",
			data: { id: IdCategory },
			type: "GET",
			dataType: "json",
			success: function (respon) {
				$("#IdVariant").empty()
				$("#IdVariant").append("<option>-- Pilih Varian --</option>")
				$.each(respon, function (index, res) {
					$("#IdVariant").append("<option value='" + res.id + "'>" + res.nameVariant + "</option>")
				})
			}

		})
	})
</script>




