﻿@using xpos314.viewmodels;
@model VMTblProduct
@{
	//Layout = null;
	ViewData["Title"] = "Detail Product";
}

<div class="card">
	<div class="card-body">

		<div class="h4 mb-4">@ViewData["Title"]</div>
			<input type="hidden" id="Id" name="Id" value="@Model.Id" />
			<div class="mb-4 row">
				<label for="NameProduct" class="col-sm-4 col-form-label">Name Product</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="NameProduct" name="NameProduct" value="@Model.NameProduct" readonly>
				</div>
			</div>

			<div class="mb-4 row">
				<label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory" readonly>
				</div>
			</div>

			<div class="mb-4 row">
				<label for="NameVariant" class="col-sm-4 col-form-label">Name Variant</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="NameVariant" name="NameVariant" value="@Model.NameVariant" readonly>
				</div>
			</div>

			<div class="mb-4 row">
				<label for="Price" class="col-sm-4 col-form-label">Price</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="Price" name="Price" value="@Model.Price" readonly>
				</div>
			</div>

			<div class="mb-4 row">
				<label for="Stock" class="col-sm-4 col-form-label">Stock</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="Stock" name="Stock" value="@Model.Stock" readonly>
				</div>
			</div>

			<div class="mb-4 row">
				<label for="ImageFile" class="col-sm-4 col-form-label">Upload</label>
				<div class="col-sm-8">
					<br />
				@{
					string image = (@Model.Image!.Replace(@Model.Image!.Split('_')[0], "")).Substring(1);
					if (Model.Image != null)
						{
							<input type="text" class="form-control" name="Image" value="@image" readonly/>
							<img src="~/images/@Model.Image" height="50" width="50" />
						}
				}
				</div>
			</div>

			<div class="mb-4 row">
				<a class="btn btn-light" asp-controller="Product" asp-action="Index">Back to List</a>
			</div>

	</div>
</div>




