﻿@using xpos314.datamodels;
@model TblRole
@{
    ViewData["Title"] = "Create Role";
}

<div class="card">
    <div class="card-body">

        <div class="h4 mb-4">@ViewData["Title"]</div>
        <form asp-action="Create" method="post" id="form_input">
            <div class="mb-4 row">
                <label for="RoleName" class="col-sm-4 col-form-label">Role Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="RoleName" name="RoleName" value="@Model.RoleName">
                </div>
            </div>

            <div class="mb-4 row">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-light" asp-controller="Role" asp-action="Index">Back to List</a>
            </div>

        </form>
    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            RoleName: {
                required: true,
                minlength: 5,
            },
        },
        messages: {
            RoleName: {
                required: "Please fill Role Name",
                minlength: "The name must consist of at least 5 character",
            },
        },
        submitHandler: function(form) {
            var dataForm = $(form).serialize()

            //ajax
            $.ajax({
                url: "/Role/Create", //dalam jquery boleh pakai petik satu atau dua
                data: dataForm,
                type: "post",
                dataType: "json",
                success: function(respon) { //input >> request, hasil >> respon
                    var data = respon.dataRespon
                    if (data.success) {
                        $("#exampleModal").modal("hide")
                        //toastr.success(data.message)
                        //window.location.reload()
                        toastr.success(
                            data.message,
                            '',
                            {
                                timeOut: 500,
                                fadeOut: 500,
                                onHidden: function () {
                                    window.location.reload()
                                }
                            }
                        )
                    }
                    else {
                        toastr.error(data.message)
                    }
                }
            })

        }
    })
</script>

