﻿@using xpos314.datamodels;
@model TblRole
@{
    Layout = null;
    ViewData["Title"] = "Detail Role";
}

<div class="card">
    <div class="card-body">


        <div class="h4 mb-4">@ViewData["Title"]</div>

        @*<form asp-action="Detail" method="post">*@

        <div class="mb-4 row">
            <label for="NameCategory" class="col-sm-4 col-form-label">Role Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="RoleName" name="RoleName" value="@Model.RoleName" readonly>
                @*<span asp-validation-for="NameCategory" class="text-danger"></span>*@
            </div>
        </div>

        <div class="mb-4 row">
            <div class="col-sm-10">
                @*<button type="submit" class="btn btn-primary">Submit</button>*@
                <a class="btn btn-light" asp-controller="Role" asp-action="Index">Back to List</a>
            </div>
        </div>
        @*</form>*@
    </div>
</div>
