﻿@using System.Globalization;
@using xpos314.datamodels
@using xpos314.viewmodels
@model xpos314.viewmodels.PaginatedList<TblRole>

@{
    ViewData["Title"] = "Role";
}


<div class="card">
    @*<div class="card-header">*@
    <div class="card-body">

        <h1 class="card-title">@ViewData["Title"]</h1>

        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex justify-content-between">


                    <button id="btn_create" class="btn btn-primary">Create</button>


                    <form asp-action="Index" asp-route-pageSize="@ViewBag.CurrentPageSize">
                        <div class="input-group w-100 @*input-group-sm*@" @*style="width: 150px;"*@>
                            <input type="text" name="searchString" value="@ViewBag.CurrentFilter" class="form-control float-right" placeholder="Search..">

                            <div class="input-group-append">
                                <button type="submit" class="input-group-text" title="search">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                            <div class="input-group-append">
                                <a class="btn btn-default" asp-action="Index" title="reset">
                                    <i class="fas fa-redo"></i>
                                </a>
                                @*</div>*@
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <table class="table table-hover mb-3">
                <thead>
                    <tr>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
                                <i class="fas fa-sort"></i>
                                Role Name
                            </a>
                        </th>
                        @*<th>IsDelete</th>
                        <th>CreatedBy</th>
                        <th>CreatedDate</th>
                        <th>UpdateBy</th>
                        <th>UpdateDate</th>*@
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count != 0)
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.RoleName</td>
                                @*<td>
                                    @if (@item.IsDelete == true)
                                    {
                                        <input type="checkbox" checked disabled />
                                    }
                                    else
                                    {
                                        <input type="checkbox" disabled />
                                    }
                                </td>
                                <td>@item.CreatedBy</td>
                                <td>@item.CreatedDate.ToString("dddd, dd MMMM yyyy HH:mm:ss", new CultureInfo("id-ID"))</td>
                                <td>@item.UpdateBy</td>
                                <td>@item.UpdateDate</td>*@

                                <td>
                                    <a class="btn btn-warning btn_detail" dataid="@item.Id">Detail</a>
                                    <a class="btn btn-success btn_edit" dataid="@item.Id">Edit</a>
                                    <a class="btn btn-danger btn_delete" dataid="@item.Id">Delete</a>
                                </td>

                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">
                                <i>Data not found</i>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <div class="row">
                <div class="col-2">

                    <form asp-action="Index" id="form_pagesize">
                        <select name="PageSize" id="PageSize"
                                class="form-control">
                            <option value="3">3</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                        </select>
                        @*<div class="ml-2">entries from @Model.TotalData data</div>*@
                        <div class="ml-2">entries from @Model.TotalData data</div>
                        <input type="hidden" name="sortOrder" id="sort_change" value="" />
                    </form>
                </div>
                <div class="col-10">
                    @*Page @Model.PageIndex of @Model.TotalPages*@
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewBag.CurrentSort"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewBag.CurrentFilter"
                       asp-route-pageSize="@ViewBag.CurrentPageSize"
                       class="btn btn-info float-right @nextDisabled">
                        Next
                    </a>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewBag.CurrentSort"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewBag.CurrentFilter"
                       asp-route-pageSize="@ViewBag.CurrentPageSize"
                       class="btn btn-info float-right @prevDisabled">
                        Previous
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        $("#btn_create").click(function () {
            $("#modal_body").empty();
            $("#modal_body").load("/Role/Create")
            $("#exampleModal").modal("show");
        });

        $(".btn_detail").click(function () {

            var id = $(this).attr("dataid")
            $("#modal_body").empty();
            $("#modal_body").load("/Role/Detail?id=" + id)
            $("#exampleModal").modal("show");
        });

        $(".btn_edit").click(function () {

            var id = $(this).attr("dataid")
            $("#modal_body").empty();
            $("#modal_body").load("/Role/Edit?id=" + id)
            $("#exampleModal").modal("show");
        });

        $(".btn_delete").click(function () {
            var id = $(this).attr("dataid");
            $("#modal_body").empty();
            $("#modal_body").load("/Role/Delete?id=" + id)
            $("#exampleModal").modal("show");
        });

        $("#PageSize").val(@ViewBag.CurrentPageSize)

        $("#PageSize").change(function () {
            $("#form_pagesize").submit();
        })

    });
</script>

