﻿@using xpos314.viewmodels;
@model VMTblVariant
@{
    Layout = null;
    ViewData["Title"] = "Delete Variant";
}

<div class="card">
    <div class="card-body">

        <form asp-action="SureDelete" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />

            <h3>Are you sure to delete @Model.NameVariant ?</h3>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Yes</button>
                <a asp-action="Index" class="btn btn-light">Back to List</a>
            </div>
        </form>

    </div>
</div>

